@model Article


<form method="post">
    <div class="form-group">
     <input type="text" value="@Model.Title" name="Title" class="form-control col-6 mr-3" placeholder="Article name"/>
    </div>

    <div class="form-group">
      <input type="text" value="@Model.PhotoUrl" name="PhotoUrl" class="form-control col-6 mr-3" placeholder="Photo Url"/>
    </div>

    <div class="form-group">
        <textarea value="" name="Description">@Model.Description</textarea>
    </div>  

    <div class="form-group">
        <label for="test">Navbar</label>
        <input asp-for="@Model.IsNavbar" type="checkbox" name="IsNavbar" class="" id="test" />
    </div>    

    <div class="form-group">
        <label for="test1">Featured</label>
        <input asp-for="@Model.IsFeatured" type="checkbox" name="IsFeatured" class="" id="test1" />
    </div>    
  
    <div class="form-group">
    <label for="exampleFormControlSelect1">Categories</label>
    <select name="CategoryId" class="form-control col-6" id="exampleFormControlSelect1">
    @foreach (var category in ViewBag.Categories){
        if(category.Id == Model.CategoryId) 
        {
            <option value="@category.Id" selected>@category.Name</option> 
        }else
        {
            <option value="@category.Id">@category.Name</option> 
        }
    }
    </select>
  </div>

    <input type="submit" value="Update"  class="btn btn-warning"/>
</form>

