@model Article


<form method="post" enctype='multipart/form-data'>
    <div class="form-group">
     <input type="text" value="@Model.Title" name="Title" class="form-control col-6 mr-3" placeholder="Article name"/>
    </div>

    <div class="form-group">
      <input type="file" value="@Model.PhotoUrl" name="photo" class="form-control col-6 mr-3" placeholder="Photo Url"/>
      <input type="hidden" value="@Model.PhotoUrl" name="PhotoUrl" class="form-control col-6 mr-3" placeholder="Photo Url"/>
    <img class="img-fluid my-3" src="@Model.PhotoUrl" width="150" height="150" />
    
    </div>

    <div class="form-group">
        <textarea id="editor" value="" name="Description">@Model.Description</textarea>
    </div>  

    <div class="form-group">
        <label for="test">Navbar</label>
        <input asp-for="@Model.IsNavbar" type="checkbox" name="IsNavbar" class="" id="test" />
    </div>    

    <div class="form-group">
        <label for="test1">Featured</label>
        <input asp-for="@Model.IsFeatured" type="checkbox" name="IsFeatured" class="" id="test1" />
    </div>    
  
    <div class="form-group">
    <label for="exampleFormControlSelect1">Categories</label>
    <select name="CategoryId" class="form-control col-6" id="exampleFormControlSelect1">
    @foreach (var category in ViewBag.Categories){
        if(category.Id == Model.CategoryId) 
        {
            <option value="@category.Id" selected>@category.Name</option> 
        }else
        {
            <option value="@category.Id">@category.Name</option> 
        }
    }
    </select>
  </div>



    <input type="submit" value="Update"  class="btn btn-warning"/>
</form>

@section Scripts {
 <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>

<script>
var KTCkeditorDocument = function () {
    
    // Private functions
    var demo = function () {
        ClassicEditor
            .create( document.querySelector( '#editor' ),{
                    mediaEmbed: {
                        previewsInData: true
                    },
                })
            .then( editor => {
                // console.log( editor );
            } )
            .catch( error => {
                // console.error( error );
                Swal.fire("Info !", error, "error");
            } );
    }

    return {
        // public functions
        init: function() {
            demo();
        }
    };
}();

jQuery(document).ready(function() {
    KTCkeditorDocument.init();
});
  </script>
}
